
    <div class="contact">
    
        <div class="adr">
            <i class="fa-duotone fa-envelope" style="font-size: 50px;"> </i>
            <h4>   Address: </h4>
            <p>Newyork street, New york
                code- 2201 </p>
            
        </div>
       
        <div class="adr">
            <i class="fa-solid fa-browser"  style="font-size: 50px;"></i>
            <h4> Our Website: </h4>
            <p>www.ComfiTrips.com </p>
            
        </div>
        <div class="adr">
            <i class="fa-sharp fa-solid fa-phone-volume" style="font-size: 50px;"></i>
            <h4> Phhone No: </h4>
            <p>+12 25478632</p>      
        </div>
