<i style="margin-top: 30px; margin-bottom: 30px; font-size: 30px; margin-top: 20px;"> Privacy Policy </i>

<div class="privacy">

Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem recusandae perferendis hic molestiae. Ea id, 
consequatur optio cum error autem eligendi quo, accusantium sit blanditiis quae porro nesciunt dolorum tempora.

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae alias minus aut illo velit atque suscipit magnam, 
earum repellat architecto adipisci delectus, 
dolores cupiditate? Repudiandae quod animi ea ipsum eaque.

Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae porro consectetur inventore, 
voluptatem voluptatum nostrum laborum tempore labore, 
natus doloremque ipsam provident, dolores impedit quas nulla ratione magni ea.

</div>
