h2{
    background-color: rgb(51, 225, 225);
    color:rgba(4, 4, 4, 0.744);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

th{
    color:white;
    background-color: rgb(51, 225, 225)
    


}

