<div class="centre">
    <h2> About Us </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
     Accusamus quaerat illum qui quo? Nihil, perspiciatis. Animi molestias vero quasi in iste deserunt voluptatum tempora velit ut,
    ex facilis assumenda fugit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo eveniet mollitia commodi ut consequuntur sequi, ducimus alias ad quis. 
    Praesentium autem blanditiis, molestiae non aspernatur amet consequatur laborum reiciendis repellat?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus in cupiditate cumque magni molestias earum odit aliquid aut ullam, impedit esse exercitationem cum praesentium repellat sapiente doloribus molestiae corrupti ratione?
    </p>
</div>

<button (click)="logout('login')" class="btn btn-danger ">Logout</button>
<p routerLink="/home" style="font-size: 20px;" class="btn btn-link">Go Back To Home</p>

<div class="list">
<b> Some Tips for Smooth Travel</b>
<div>
    <label id="1" for="travellist">Stay hydrated and have extra water bottles</label>
    <input type="checkbox" id="1"></div>
    <div>
    <label id="2" for="travellist">Carry mask</label>
    <input type="checkbox" id="2"></div>

<div>
    <label id="3" for="travellist">Carry cash always for critical situations </label>
    <input type="checkbox" id="3"></div>

<div>
    <label id="4" for="travellist">Don't forgot important documents. </label>
    <input type="checkbox" id="4"></div>

<div>
    <label id="5" for="travellist">Carry interesting books, if you wish </label>
    <input type="checkbox" id="5"></div>

<div>
    <label id="6" for="travellist">Carry some snacks</label>
    <input type="checkbox" id="6"></div>

<div>
    <label id="7" for="travellist">Also downloaded movies are good to go to avoid boredom
        of long travel. </label>
    <input type="checkbox" id="7"></div>




</div>

